# 1. Data Types

In [1]:
type(1)

int

In [2]:
type(1.6)

float

In [3]:
type(True)

bool

In [4]:
type("Hello")

str

In [5]:
"Hello".upper() #This is a string method. Check link for more: https://www.w3schools.com/python/python_ref_string.asp

'HELLO'

# 2. Variables

In [6]:
a = 'I like writing python code.'
b = "It's fun."
print(a,b)

I like writing python code. It's fun.

In [7]:
# String concatenation using f
f'{a} {b}'

"I like writing python code. It's fun."

# 3. Lists
Are used to store multiple items in a single variable

In [8]:
countries = ['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

In [9]:
countries

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

In [10]:
# You use indexing to get elements in a list

print(countries[0])
print(countries[1])
print(countries[2])
print(countries[3])

Kenya
Tanzania
Rwanda
Eritrea

In [11]:
# Using negative indexing to get elements starting with the last

print(countries[-1])
print(countries[-2])
print(countries[-3])
print(countries[-4])

Eritrea
Rwanda
Tanzania
Kenya

In [12]:
# Slicing means accessing parts of a list
# The last number is usually not included in the result

countries[1:3]

['Tanzania', 'Rwanda']

In [13]:
countries[-4:-1]

['Kenya', 'Tanzania', 'Rwanda']

In [14]:
countries[:3]

['Kenya', 'Tanzania', 'Rwanda']

In [15]:
countries[:]

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

## 3.0.1 Adding elements to a list

In [16]:
countries

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

In [17]:
countries.append('Ghana')
countries

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea', 'Ghana']

In [18]:
countries.insert(2, 'Morocco')
countries

['Kenya', 'Tanzania', 'Morocco', 'Rwanda', 'Eritrea', 'Ghana']

In [19]:
countries.extend(['Libya','Ethiopia','Uganda'])
countries

['Kenya',
 'Tanzania',
 'Morocco',
 'Rwanda',
 'Eritrea',
 'Ghana',
 'Libya',
 'Ethiopia',
 'Uganda']

In [20]:
countries_2 = ['China', 'Russia', 'Australia']
countries_2

['China', 'Russia', 'Australia']

In [21]:
countries_final = countries + countries_2

In [22]:
nested_list = [countries, countries_2]
nested_list

[['Kenya',
  'Tanzania',
  'Morocco',
  'Rwanda',
  'Eritrea',
  'Ghana',
  'Libya',
  'Ethiopia',
  'Uganda'],
 ['China', 'Russia', 'Australia']]

## 3.0.2 Removing elements from lists

In [23]:
countries_final

['Kenya',
 'Tanzania',
 'Morocco',
 'Rwanda',
 'Eritrea',
 'Ghana',
 'Libya',
 'Ethiopia',
 'Uganda',
 'China',
 'Russia',
 'Australia']

In [24]:
countries_final.remove('Australia')
countries_final

['Kenya',
 'Tanzania',
 'Morocco',
 'Rwanda',
 'Eritrea',
 'Ghana',
 'Libya',
 'Ethiopia',
 'Uganda',
 'China',
 'Russia']

In [25]:
countries_final.pop(2)
countries_final

['Kenya',
 'Tanzania',
 'Rwanda',
 'Eritrea',
 'Ghana',
 'Libya',
 'Ethiopia',
 'Uganda',
 'China',
 'Russia']

In [26]:
del countries_final[4:10]

In [27]:
countries_final

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

## 3.0.3 Sorting a list

In [28]:
numbers = [1,5,2,7,4,5,2,9,0]
numbers.sort()

In [29]:
numbers

[0, 1, 2, 2, 4, 5, 5, 7, 9]

In [30]:
numbers.sort(reverse=True)
numbers

[9, 7, 5, 5, 4, 2, 2, 1, 0]

In [31]:
letters = ['a','b','d','s','u','k','g','q']
letters.sort()
letters

['a', 'b', 'd', 'g', 'k', 'q', 's', 'u']

## 3.0.4 Updating an element in a list

In [32]:
numbers

[9, 7, 5, 5, 4, 2, 2, 1, 0]

In [33]:
numbers [3] = 6
numbers

[9, 7, 5, 6, 4, 2, 2, 1, 0]

## 3.0.5 Creating a copy of a list

In [34]:
countries = ['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']
countries

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

In [35]:
countries_copy = countries[:]

In [36]:
countries_copy

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

In [37]:
new_list = countries.copy()
new_list

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

# 4. Dictionaries

In [38]:
my_data = {'Name':'Victor', 'Age':26}

In [39]:
my_data

{'Name': 'Victor', 'Age': 26}

In [40]:
my_data.keys()

dict_keys(['Name', 'Age'])

In [41]:
my_data.values()

dict_values(['Victor', 26])

In [42]:
my_data.items()

dict_items([('Name', 'Victor'), ('Age', 26)])

## 4.0.1 Adding new item in a dictionary

In [43]:
my_data['height'] = 1.6

In [44]:
my_data

{'Name': 'Victor', 'Age': 26, 'height': 1.6}

In [45]:
my_data.update({'height':1.7})

In [46]:
my_data

{'Name': 'Victor', 'Age': 26, 'height': 1.7}

## 4.0.2 Copy of a dictionary

In [47]:
new_dict = my_data.copy()

In [48]:
new_dict

{'Name': 'Victor', 'Age': 26, 'height': 1.7}

## 4.0.3 Remove elements from dictionary

In [49]:
my_data.pop('height')

1.7

In [50]:
my_data

{'Name': 'Victor', 'Age': 26}

In [51]:
del my_data['Age']

In [52]:
my_data

{'Name': 'Victor'}

In [53]:
my_data.clear()

In [54]:
my_data

{}

# 5. If Statement

In [55]:
age = int(input("What's your age? "))

if age>= 18:
    print("You're an adult")
elif age >= 13:
    print("You're a teenager")
elif age <0:
    print("Age cannot be a negative number")
else:
    print("You're a kid")

What's your age? 23
You're an adult

# 6. For loops

In [56]:
countries

['Kenya', 'Tanzania', 'Rwanda', 'Eritrea']

In [57]:
for country in countries:
    print(country)

Kenya
Tanzania
Rwanda
Eritrea

In [58]:
for i, country in enumerate(countries):
    print(i, country)

0 Kenya
1 Tanzania
2 Rwanda
3 Eritrea

In [59]:
my_data.update({'Name':'Victor', 'Age':26, 'Height':1.7})

In [60]:
my_data

{'Name': 'Victor', 'Age': 26, 'Height': 1.7}

In [61]:
for key, value in my_data.items():
    print(key, value)

Name Victor
Age 26
Height 1.7

# 7.Functions

In [62]:
def sum_values(a,b):
    x= a+b
    return x

In [63]:
sum_values(23,2)

25

## 7.0.1 Built in functions

In [64]:
min([18,3,91,0.9,-5])

-5

In [65]:
len(countries)

4

In [66]:
type(my_data)

dict

In [67]:
for i in range(1,20,3):
    print (i)

1
4
7
10
13
16
19

# 8. Modules

In [68]:
import os

In [69]:
os.getcwd() #cwd is current working directory.
            # It returns the directory you are working on.

'C:\\Users\\Muange\\Python Data Analysis for Excel Users'

In [70]:
os.listdir() #Lists the files and folders in the directory.

['.ipynb_checkpoints',
 'Module 1- Basics.ipynb',
 'Module 2 Introduction to pandas.ipynb',
 'Module 3 Pivot tables and Visualisation in Pandas.ipynb']

In [71]:
os.makedirs("New Folder") #Creates new file inside the directory that has provided name.

In [72]:
os.listdir() #Lists the files and folders in the directory.

['.ipynb_checkpoints',
 'Module 1- Basics.ipynb',
 'Module 2 Introduction to pandas.ipynb',
 'Module 3 Pivot tables and Visualisation in Pandas.ipynb',
 'New Folder']

In [73]:
os.rmdir("New Folder") # Removes folder named.

In [74]:
os.listdir() #Lists the files and folders in the directory.

['.ipynb_checkpoints',
 'Module 1- Basics.ipynb',
 'Module 2 Introduction to pandas.ipynb',
 'Module 3 Pivot tables and Visualisation in Pandas.ipynb']